:root{
    font-size:10px;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    background-color: white;
    max-width: 20rem;
    max-height: 30rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
.info{
    padding:1rem;
}
.flag{
    height:12rem;
    width:100%;
    object-fit: cover;
}
body{
    background-color: whitesmoke;
}
.side-heading{
    font-size:15px;
}