.container{
    max-width: 40rem;
    height:auto;
    margin:auto;
    background-color:white;
    margin-top:160px;
    border-radius: 2rem;
    overflow:hidden;
}
#image{
   
    width:100%;
    height:auto;
}

